*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: 'Open Sans', sans-serif;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
}

.card {
    width: 300px;
    background-color: #000;
    color: #fff;
    padding: 16px;
    border-radius: 10px;
}