*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-family: 'Open Sans', sans-serif;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
}

.header {
    width: 600px;
    margin: 0 auto;
}

#card-container {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.form {
    width: 500px;
    margin: 0 auto;
}

.card {
    width: 300px;
    background-color: #000;
    color: #fff;
    padding: 16px;
    border-radius: 10px;
}